{% embed 'TahoeThemeBundle:Widgets:portlet.html.twig' %}
    {% block caption %}{{ entityName }}{% endblock %}
    {% block extraclass %}min-height-portlet{% endblock %}
    {% block inputs %}
        {% embed 'TahoeThemeBundle:Widgets:portlet_header.html.twig' %}
        {% endembed %}
    {% endblock %}
    {% block actions %}{% endblock %}
    {% block body %}
        <table class="table table-condensed table-hover datatable">
            <thead>
            <tr>
                <th>ID</th>
                {% if (entities | first).isOpen is defined %}
                    <th>Open</th>
                {% endif %}
                <th>{{ entityName }}</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for _entity in entities %}
                <tr {% if _entity.isOpen is defined and not _entity.isOpen %} class="disabled" {% endif %}>
                    <td>{{ _entity.id }}</td>
                    {% if _entity.isOpen is defined %}
                        <td>{{ _entity.isOpen }}</td>
                    {% endif %}
                    <td><a href="{{ path(routePrefix ~ '_show', {id: _entity.id}) }}">{{ _entity }}</a></td>
                    <td class="text-right">
                        <a href="{{ path(routePrefix ~ '_edit', {id: _entity.id}) }}" class="btn btn-info btn-circle btn-xs">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}